/* css document */
body {
    margin: 0;
}

div.container, div.home-container {
    max-width: 40em;
    margin: auto;
}

a {
    text-decoration: none;
    color: #000000;
}

h1, h2 {
    font-family: serif;
}

h1 {
    width: 4em;
    margin: 0.75rem;
}

h2 {
    font-size: 3em;
    color: #547898;
    margin: 0 0.75rem;
    font-weight: bold;
}

.secondary h2 {
    font-size: 2em;
}

.tertiary h2 {
    font-size: 1.25em;
    margin: 0 0 .25rem 0;
}

p {
    font-family: sans-serif;
    margin: 0 .75rem 1rem;
    line-height: 1.5;
}

nav {
    margin: 0 .75rem 1rem;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 0.2rem;
    list-style: none;
    font-family: sans-serif;
    font-weight: bold;
}

nav ul li a {
    color: #547898;
}

figure {
    max-width: 100%;
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

figcaption {
    font-family: sans-serif;
    font-style: italic;
    padding: 0.5rem 0.75rem 2rem 0.75rem;
    color: rgb(100, 100, 100);
}

section.tertiary {
    margin: 0 0.75rem 2rem 0.75rem;
    padding-top: 1rem;
    border-top: 1px solid #547898;
}

section.secondary {
    margin-bottom: 2rem;
}

footer {
    background-color: #547898;
    color: #ffffff;
    padding: 1rem 0.75rem;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    font-family: sans-serif;
    margin: 0;
}

article h2 {
    margin: 1rem 0.75rem 0.25rem 0.75rem;
}

aside {
    background-color: #cbcfff;
    padding: 1rem;
}

aside p {
    margin-bottom: 2rem;
}

aside .secondary h2 {
    font-size: 1.5em;
    
}


/* media query mobile first */
@media screen and (min-width: 40em) {
    nav ul li {
        display: inline;
        margin-right: 1rem;
    }

    h1 {
        margin-bottom: 0.5rem;
    }

    nav {
        margin-top: 0;
    }

    /* remove margin on wide screen */
    h2, h1, p, article h2, nav, section.tertiary {
        margin-left: 0;
        margin-right: 0;
    }

    figcaption {
        padding-left: 0;
        padding-right: 0;
    }
}

/* media query for responsive grid + flex box */
@media only screen and (min-width: 60em){
    div.home-container{
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }
    div.container{
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer{
        grid-column: 1/3;
    }

    div.home-container main{
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside{
        background: none;
        padding: 0;
        margin-top: 0;
    }
    div.container aside{
        margin-top: 0;
    }

    /* ~~~~~~index main story~~~~~~~~ */
    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    /* <a> is flex container b/c immediate parent to h2/p */
    /* also flex item to section.mainstory */
    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    /* flex items to <a>*/
    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }
    /* make image cover all of figure */
    section.mainstory a figure img {
        object-fit: cover;
    }
    section.mainstory a h2 {
        flex: 0 0 1em;
    }
    section.mainstory a p {
        flex: 0 0 4em;
    }

    /* ~~~~~~secondary stories~~~~~~~~~~~ */
    section.secondary {
        display: flex;
    }

    section.secondary a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure {
        flex: 1 0 12em;
        display: flex;
    }
    /* make image cover all of figure */
    section.secondary a figure img {
        object-fit: cover;
    }
    section.secondary a h2 {
        flex: 0 0 1em;
    }
    section.secondary a p {
        flex: 0 0 4em;
    }

    
}
